{{define "index/about"}}
  <section class="container page">
    <article>
        <div class="centered" style="padding-top:6rem">
            <img class="centered" style="border-radius:35%; box-shadow:0 2px 4px 0 rgba(0,0,0,0.2)" width="250" height="250" src="/assets/img/anthony.jpg" alt="">
        </div>
        <header>
            <h1>About Me</h1>
        </header>
        <p>I am a software developer who studies at McGill University. I have interned twice at GE Digital in Vancouver working on a cyber security project.</p>
        <p>When I am not coding, I enjoy practicing boxing and doing photography.</p>
    </article>
  </section>
{{end}}"