{{define "index/experiences"}}
    <section class="container post" style="padding-top:3rem">
        <article>
            <header>
                <h1 class="title">Experiences</h1>
            </header>
  
            <p><br/></p>

            <h2 id="ge-digital">GE Digital</h2>
  
            <p><strong>Software Developer &amp; Feature Intern | Industrial Cyber Security Team</strong></p>
            <p>Jan 2018 - August 2018</p>
  
            <p>I am a <strong>software developer</strong> on the OpShield team working on an industrial intrusion detection and prevention system. My primary role includes designing, developing, maintaining the <strong>Middleware</strong> and <strong>OS</strong> systems, which are the <strong>core</strong> components of the cyber security product. I also have worked as a <strong>feature lead</strong> to lead a three people team to deliver two new features for our customers.</p>

            <p><br/></p>
  
            <h2 id="ge-digital">GE Digital</h2>
  
            <p><strong>QA Automation Developer Intern | OpShield Team</strong></p>
            <p>May 2017 - December 2017</p>
            <p>At GE Digital, I worked as <strong>QA</strong> and <strong>Automation Developer</strong> on the Vancouver OpShield team. I have successful led and facilated three major production releases, and I have ensured the quality and standard of our cyber security product that is used in protecting critical industrial assets. I have also <strong>developed</strong> a scalable automation frameworks and tools to support newly developed products.</p>
  
            <p><br/></p>
  
            <h2 id="hogo-digital">Hogo Digital</h2>
  
            <p><strong>Web Developer Intern | Web Development Team</strong></p>
            <p>July 2016 - August 2016</p>
            <p>As a web developer, I have developed multiple websites with WordPress CMS for our customers. My primary responsibilities include front-end development in HTML, CSS, and Javascript, and backend development in PHP.</p>
  
        </article>
        <br/>
    </section>
{{end}}