{{define "index/home"}}
  <section class="container centered">
    <div class="about">
      <h1>Anthony Ho</h1>
      <h2>Software Developer</h2>
      <ul>
        <li><a href="mailto:anthonyho007@gmail.com">Email</a></li>
        <li><a href="https://github.com/anthonyho007/">Github</a></li>
        <li><a href="https://www.linkedin.com/in/anthony-ho-007/">LinkedIn</a></li>
        <li><a href="https://drive.google.com/file/d/16GRAycL_pFCyy7sojP9jyVpib_EeVmtk/view">Resume</a></li>
      </ul>
    </div>
  </section>
{{end}}
