{{define "index/projects"}}
    <section class="container post" style="padding-top:3rem">
        <article>
            <header>
                <h1 class="title">Projects</h1>
            </header>
  
            <p><br/></p>
            <div class="centered">
                <img class="centered" width="70%" style="box-shadow:0 2px 4px 0 rgba(0,0,0,0.2)" src="/assets/img/savour.png" alt="alt text" title="Logo savour">
            </div>

            <h2 id="savior">Savour</h2>
  
            <p><strong>MachoHacks | Top 5</strong></p>
  
            <p>A P2P decentralized platform that allows users to share homecooked food without any commission fees. It is built with <strong>React</strong>, <strong>Node.js</strong>, <strong>Solidity</strong> on top of <strong>Ethereum network</strong>. Used <strong>escrow</strong> smart contracts in blockchain to remove the need of a middleman during transactions.</p>
  
            <p><a href="https://github.com/vinsonly/Savour">GitHub</a></p>
  
            <p><br/></p>
            <div class="centered">
                <img class="centered" width="70%" style="box-shadow:0 2px 4px 0 rgba(0,0,0,0.2)" src="/assets/img/travelsimple.png" alt="alt text" title="Logo travelsimple">
            </div>
  
            <h2 id="travel-simple">Travel Simple</h2>
  
            <p><strong>Decode Hackathon</strong></p>
  
            <p>A travel planner web app that allows users to estimate an amount to put into theirinvestment plan that it could fund their dream of traveling around the world. It is built with <strong>Angular.js</strong> and <strong>Ruby_on_Rails</strong>. Successfully implemented <strong>Nomadlist API</strong> and <strong>Google Flight API</strong> to estimate the lowest cost of travel and the minimum saving plan forthe trip.</p>
  
            <p><a href="https://github.com/decode-wealthsimple">GitHub</a></p>
  
        </article>
        <br/>
    </section>
{{end}}